body {
    /* Remove default page margins*/ 
    margin: 0;
} 

nav {
    /* nav is a flex parent justified to right.*/
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* Two nav elements*/ 
    background-color: rgb(0, 87, 132);
    border-bottom: 4px solid rgb(28, 38, 50);
    height: 1em;
}

/* Text in nav*/
nav p a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

/* Hover text in nav*/
nav p a:hover {
    text-decoration: none;
    color:rgb(172, 177, 212);
}


footer {
    /* footer is a flex parent justified to right.*/
    display: flex;
    justify-content: center;
    /* Two nav elements*/ 
    background-color:rgb(0, 87, 132);
    border-top: 4px solid rgb(28, 38, 50);
    height: 1em;
}

/* Text in footer*/
footer a, footer, footer a:hover {
    /* Two properties*/ 
    text-decoration: none;
    color:rgb(255, 255, 255);
}

/* Hover text in footer*/
footer a:hover {
    color:rgb(172, 177, 212);
}

/* Change bg color and add padding*/ 
.container {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgb(91, 180, 240);
    padding: 0;
    color: white;
    border-bottom: 4px solid black;
}
.text-container {
    position: absolute;
    text-align: center;
}

.title {
    text-align: center;
}

.pfp {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    position: relative;
    padding: 10px;
}

/* Remove underline and style color of a texts*/
a {
    color: rgb(100, 50, 100);
    text-decoration: none;
}

/* Style the hover state*/
a:hover {
    color: rgb(42, 19, 42);
    text-decoration: none;
}

/* 2 border properties of hr*/ 
.break {
    border: 2px dashed;
    width: 50%;
    color: rgb(0, 0, 0);
}

* {
    font-family: 'VT323', serif; 
    font-style: bold;
}
.one {
    font-size: 150%;
}

.three-col {
    display: grid; 
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    
}

.card-img {
    border-radius: 10px;
}

.card:not(:last-child) {
    border-right: 2px solid black;
}




